<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#thirteenth"
            aria-expanded="false" aria-controls="thirteenth">
            Cálculo 13º Salário
        </button>
    </h2>
    <div id="thirteenth" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">💵</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control"
                                    id="thirteenth-raw" placeholder="Salário Bruto" name="raw" inputmode="numeric"
                                    [ngModel]="salary.raw" required>
                                <label for="thirteenth-raw">Salário Bruto</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">➕</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control"
                                    id="thirteenth-earnings" placeholder="Ganhos Adicionais" [ngModel]="salary.earnings"
                                    name="earnings" inputmode="numeric">
                                <label for="thirteenth-earnings">Ganhos Adicionais</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">👪</span>
                            <div class="form-floating">
                                <select [ngModel]="salary.dependents" name="dependents" class="form-select"
                                    id="thirteenth-dependents" style="padding-left: 0.75em;" required>
                                    <option *ngFor="let dep of dependents" [ngValue]="dep">{{ dep }}</option>
                                </select>
                                <label for="thirteenth-dependents">Dependentes</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">📅</span>
                            <div class="form-floating">
                                <select [ngModel]="salary.months" name="months" class="form-select"
                                    id="thirteenth-months" style="padding-left: 0.75em;" required>
                                    <option *ngFor="let month of months" [ngValue]="month">{{ month }}</option>
                                </select>
                                <label for="thirteenth-months">Meses Trabalhados</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" [disabled]="!form.valid"
                            class="btn btn-primary btn-md w-100">Calcular</button>
                    </div>
                </div>
            </form>

            <div *ngIf="loading == true" class="loading">
                <app-loading></app-loading>
            </div>

            <app-alert-modal *ngIf="errorEnabled" [error]="errorMessage" (close)="errorEnabled=null"></app-alert-modal>

            <div *ngIf="response != null">
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <div class="card">
                            <h5 class="card-header">13º Salário</h5>
                            <div class="card-body">
                                <h2>{{ response.total | currency:'BRL' }}</h2>
                                <p class="card-text mt-4">Descontos de INSS e IRRF já estão aplicados no valor do salário.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>