<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Cálculo de Salário Líquido
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">

                <div class="row">
                    <h4>Proventos</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">💵</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control" id="floatingInputGroup1"
                                    placeholder="" [ngModel]="salary.raw" name="raw" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}" required>
                                    <!-- [ngModelOptions]="{updateOn:'blur'}"
                                    (ngModelChange)="salary.raw=$event" -->
                                <label for="floatingInputGroup1">Salário Bruto</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">➕</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control" id="floatingInputGroup1"
                                    placeholder="" [ngModel]="salary.earnings" name="earnings" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}">
                                <label for="floatingInputGroup2">Ganhos Adicionais</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4>Descontos</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">🏥</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control" id="floatingInputGroup1"
                                    placeholder="" [ngModel]="salary.medical_assistant" name="medical_assistant" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}">
                                <label for="floatingInputGroup1">Assistência Médica</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">➖</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control" id="floatingInputGroup1"
                                    placeholder="" [ngModel]="salary.discounts" name="discounts" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}">
                                <label for="floatingInputGroup2">Outros Descontos</label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" [disabled]="!form.valid" class="btn btn-primary md-4" value="Calcular">
                <input (click)="test()" class="btn btn-primary md-4" value="Opa">
            </form>
        </div>
    </div>
</div>