<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Cálculo de Salário Líquido
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">

                <div class="row">
                    <h3>Proventos</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">💵</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control"
                                    id="floatingInputGroup1" placeholder="Salário Bruto" [ngModel]="salary.raw"
                                    name="raw" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}" required>
                                <label for="floatingInputGroup1">Salário Bruto</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">➕</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control"
                                    id="floatingInputGroup2" placeholder="Ganhos Adicionais" [ngModel]="salary.earnings"
                                    name="earnings" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}">
                                <label for="floatingInputGroup2">Ganhos Adicionais</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3>Descontos</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">🏥</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control"
                                    id="floatingInputGroup3" placeholder="Assistência Médica"
                                    [ngModel]="salary.medical_assistant" name="medical_assistant" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}">
                                <label for="floatingInputGroup3">Assistência Médica</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">➖</span>
                            <div class="form-floating">
                                <input currencyMask (keypress)="numberOnly($event)" type="text" class="form-control"
                                    id="floatingInputGroup4" placeholder="Outros Descontos" [ngModel]="salary.discounts"
                                    name="discounts" inputmode="numeric"
                                    [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}">
                                <label for="floatingInputGroup4">Outros Descontos</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">👪</span>
                            <div class="form-floating">
                                <input (keypress)="numberOnly($event)" type="text" class="form-control"
                                    id="floatingInputGroup5" placeholder="Dependentes" [ngModel]="salary.dependents"
                                    name="dependents" inputmode="numeric" value="0" required>
                                <label for="floatingInputGroup5">Dependentes</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">🚊</span>
                            <div class="form-floating">
                                <select [ngModel]="salary.transport_voucher" name="transport_voucher"
                                    class="form-select" id="floatingSelectGrid" style="padding-left: 0.75em;" required>
                                    <option [ngValue]="false" selected>Não</option>
                                    <option [ngValue]="true">Sim</option>
                                </select>
                                <label for="floatingSelectGrid">Vale Transporte</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" [disabled]="!form.valid"
                            class="btn btn-primary btn-md w-100">Calcular</button>
                    </div>
                </div>
            </form>

            <div *ngIf="loading == true" class="loading">
                <div class="row mt-4">
                    <div class="col d-flex justify-content-center">
                        <div class="loading-spinner mb-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h3>Calculando...</h3>
                    </div>
                </div>
            </div>

            <div *ngIf="response != null">
                <table class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quantidade de Dependentes</td>
                            <td>{{ response.dependents }}</td>
                        </tr>
                        <tr>
                            <td>Salário Bruto</td>
                            <td>{{ response.raw | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <td>Adicionais</td>
                            <td>{{ response.earnings | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <td>Assistência Médica</td>
                            <td>- {{ response.medical_assistant | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <td>Vale Transporte</td>
                            <td>- {{ response.transport_voucher | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <td>Descontos</td>
                            <td>- {{ response.discounts | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <td>INSS</td>
                            <td>- {{ response.inss | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <td>IRFF</td>
                            <td>- {{ response.irrf | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <td>FGTS</td>
                            <td>{{ response.fgts | currency:'BRL' }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Total</th>
                            <th scope="col">{{ response.total | currency:'BRL' }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>