<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#clt-pj" aria-expanded="false" aria-controls="clt-pj">
            Cálculo CLT → PJ
        </button>
    </h2>
    <div id="clt-pj" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <b>Em breve!</b>
        </div>
    </div>
</div>