.loading-spinner {
    width: 60px;
    height: 60px;
    border: 5px solid indigo;
    border-radius: 50%;
    border-top-color: #0001;
    display: inline-block;
    animation: loadingspinner .7s linear infinite;
}

@keyframes loadingspinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

section p {
    line-height: 1.5em;
    font-size: 0.8em;
    margin-bottom: 0.2em;
}